<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!--<appender name="DebugAppender" type="log4net.Appender.DebugAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString">
      <conversionPattern value="mylog%date{yyyy-MM-dd_Hmm}.log" />
    </file>
    <appendToFile value="true" />
    <maximumFileSize value="100KB" />
    <maxSizeRollBackups value="2" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %5level %logger.%method [%line] - MESSAGE: %message%newline" />
    </layout>
  </appender>-->
  <!--<appender name="AWS" type="AWS.Logger.Log4net.AWSAppender,AWS.Logger.Log4net">
    <LogGroup>Logging.Config</LogGroup>
    <Region>us-east-1</Region>
    <LogStreamNamePrefix>LogTest3</LogStreamNamePrefix>
    <LogStreamNameSuffix></LogStreamNameSuffix>
    --><!--<Profile>Logging</Profile>--><!--
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
    </layout>
  </appender>-->
  <!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate{yyyy-MM-ddTHH:mm:ss.fffZ} [%-5level] %logger - %message%newline" />
    </layout>
  </appender>-->
  <appender name="AWSSplunked" type="AWS.Logger.Log4net.AWSAppender,AWS.Logger.Log4net">
   
    <LogGroup>Logging.Config</LogGroup>
    <Region>us-east-1</Region>
    <LogStreamNamePrefix>SplunkLog.LAB</LogStreamNamePrefix>
    <LogStreamNameSuffix></LogStreamNameSuffix>
    <!--<Profile>Logging</Profile>-->
   
    <layout type="LogTest3.Layouts.SplunkLayout, LogTest3">
      <layouterror>Check immediate window the type isn't being seen in LogTest3 assembly</layouterror>
      <LoggedProcessId>LogTest3.LAB</LoggedProcessId>
      <TimestampFormat>yyyy-MM-ddTHH:mm:ss.fffZ</TimestampFormat>
    </layout>
  </appender>




  <!--<appender name="S3AppenderVB" type="LogTest3.Appenders.S3AppenderVB, LogTest3">

    <MaxStreamSize value="100KB"/>
    <TimeInterval value="60000"/>
    <MaxMemoryFootprint value="1MB"/>

    <S3FileName type="log4net.Util.PatternString" value="S3log"/>
    <S3FileExtension value="log"/>
    <S3BucketName type="log4net.Util.PatternString" value="logtest2bucketpoc"/>
   

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level [%thread] %logger %C.%M - %message%newline"/>
    </layout>

  </appender>-->

  <appender name="RollingFileS3Appender" type="LogTest3.Appenders.RollingFileS3Appender, LogTest3">
    <param name="BucketName" value="logtest2bucketpoc" />
    <param name="LogDirectory" value="Log2" />
    <!-- If you dont whant a prefix to the log object leave this blank -->
    <param name="File" value="_logs\\LogSocket.log" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="3KB" />
    <layout type="LogTest3.Layouts.SplunkLayout, LogTest3">
      <layouterror>Check immediate window the type isn't being seen in LogTest3 assembly</layouterror>
      <LoggedProcessId>LogTest3Rolling.LAB</LoggedProcessId>
      <TimestampFormat>yyyy-MM-ddTHH:mm:ss.fffZ</TimestampFormat>
      <WithTimeStamp>true</WithTimeStamp>
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
  </appender>

  <appender name="S3Appender" type="LogTest3.Appenders.S3Appender, LogTest3">
    <param name="BucketName" value="logtest2bucketpoc" />
    <layout type="LogTest3.Layouts.SplunkLayout, LogTest3">
      <layouterror>Check immediate window the type isn't being seen in LogTest3 assembly</layouterror>
      <LoggedProcessId>LogTest3.LAB</LoggedProcessId>
      <TimestampFormat>yyyy-MM-ddTHH:mm:ss.fffZ</TimestampFormat>
    </layout>

  </appender>

  <root>
    <level value="ALL"/>
    <!--<appender-ref ref="S3AppenderVB" />-->
    <!--<appender-ref ref="S3Appender" />-->
    <appender-ref ref="RollingFileS3Appender" />
    <!--<appender-ref ref="DebugAppender" />
    <appender-ref ref="RollingFile" />-->
    <!--<appender-ref ref="AWSSplunked" />-->
    <!--<appender-ref ref="AWS" />-->
  </root>
</log4net>